house.db
*.db
__pycache__/
.env
.idea/

# LLM / LoRA weights
*.bin
*.ckpt

# =========================
# LLM / LoRA weights
# =========================
app/ai/checkpoint-50/
app/ai/checkpoint-100/
*.safetensors
*.pt

# HuggingFace cache
hf_cache/
.cache/